#spinner {
    border: 5px solid rgba(0, 0, 0, 1);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-top-color: #0bf;

    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}